[Desktop Entry]
Type=Application
Name=Power Manager
Comment=Power Manager
Exec=liri-powermanager
TryExec=liri-powermanager
Terminal=false
StartupNotify=false
OnlyShowIn=X-Liri;
NoDisplay=true
